<!-- <nav>
    <ul style="display: flex; justify-content: center; list-style-type: none; padding: 0; margin: 0;">
      <li><a href="#" style="color: #333; text-decoration: none; padding: 10px 20px;">Home</a></li>
      <li><a href="#" style="color: #333; text-decoration: none; padding: 10px 20px;">Guides</a></li>
      <li><a href="#" style="color: #333; text-decoration: none; padding: 10px 20px;">Explore</a></li>
      <li><a href="#" style="color: #333; text-decoration: none; padding: 10px 20px;">e-Tailor</a></li>
      <li><a href="#" style="color: #333; text-decoration: none; padding: 10px 20px;">FAQ</a></li>
      <li><a href="#" style="color: #333; text-decoration: none; padding: 10px 20px;">About Us</a></li>
      <li><a href="#" style="color: #333; text-decoration: none; padding: 10px 20px;">Start Designing</a></li>
    </ul>
  </nav> -->

  <header>
    <nav>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/guides">Guides</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/tailor">e-Tailor</a></li>
        <li><a routerLink="/design">Start Designing</a></li>
        <li><a routerLink="/explore">Explore</a></li>

      </ul>
    </nav>
  </header>