<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section footer-section1">
                <h2 class="logo">Tailornova</h2>
                <h3>Contact Info:</h3>
                <p>Tailornova</p>
                <p>1900 South Norfolk Street, Suite 350</p>
                <p>San Mateo, CA 94403</p>
                <p><a href="mailto:help@tailornova.com">help&#64;tailornova.com</a></p>
            </div>
            <div class="footer-section footer-section2">
                <h3>COMPANY</h3>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Affiliate Terms</a></li>
                    <li><a href="#">Terms&Conditions</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
            <div class="footer-section footer-section3">
                <h3>SOLUTIONS</h3>
                <ul>
                    <li><a href="#">Technology</a></li>
                </ul>
            </div>
            <div class="footer-section footer-section4">
                <h3>FOLLOW US</h3>
                <div class="social-icons">
                    <a href="#" class="facebook-icon"></a>
                    <a href="#" class="youtube-icon"></a>
                    <a href="#" class="instagram-icon"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
